:root {
  --primary-color: #eeddd3;
  --secondary-color: #fff1e6;
  --third-color: #bebbfc45;
  --border-color: #714b4c79;
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
  --third-font: "Nixie One", cursive;
}
body {
  background-color: var(--secondary-color);
}
h1 {
  font-family: var(--primary-font);
  font-size: 60px;
  font-weight: bold;
  padding: 5px 0 20px 0;
}

h2 {
  font-weight: normal;
  font-size: 24px;
  text-align: left;
  font-family: var(--secondary-font);
}
p {
  text-align: justify;
}

.hero {
  background: linear-gradient(110deg, #eeddd3 60%, var(--secondary-color) 60%);

  padding: 130px 30px 100px 30px;
}

.btn-branding {
  background-color: var(--secondary-color);
  padding: 10px 30px;
  margin: 30px 0;
  border: 3px solid var(--border-color);
  border-radius: 14px;
  font-size: 18px;
  transition: all 400ms ease-in-out;
}
.btn-branding:hover {
  background-color: var(--primary-color);
  box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  border: 3px solid var(--secondary-color);
}
.img-fluid {
  border-radius: 7px;
  border: 3px solid var(--secondary-color);
}
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 3.5s steps(40, end);
}
.navbar-custom {
  background-color: var(--secondary-color);
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 40px;
    text-align: center;
  }
  .btn-branding {
    display: block;
    text-align: center;
    padding: 10px;
  }
}
